body{
    width: 100vw;
    margin: 0;
    padding: 0;
    }
   .navbar{
       background-color: #f5f5f5;
       color: #333;
       padding: 20px;
       display: flex;
       justify-content: space-between;
   }
   .navbar a{
       color: #333;
       text-decoration: none;
       margin-right: 10px;
       font-size: 18px;
       transition: color 0.3s ease;  
   }
   .navbar a hover{
       color: #ffcc00;
   }
   .div1 img{
    width: 100%;
   }
   .cardisplays{
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: #333;
   }
   .display{
    margin: 5px;
    border: 1px solid black #ccc;
    float: left;
    
   }
   .display img{
    width: 100%;
    height: auto;
   }
   .display a{
    text-decoration: none;
    color: black;
   }
   .maincointainer{
    background-image: url(images/wave-haikei.png);
    background-repeat: no-repeat;
    background-size: cover;
   }
   .contacts p{
    font-size: larger;
   }
   .contacts ul{
    list-style-type: none;
   }